
html, body, div {
    margin: 0;
    padding: 0;
}

.app{
    height: 100%;
}

.el-drawer {
    padding: 0px 0px 0px 20px;
    width: 600px;
}

.linkBtn{
    width: 90%;
}

.el-menu{
    border: none;
    margin-top: 20px;
    width: 90%;
}

.el-dialog {
    z-index: 1000;
}
.main{
    height: 100%;
}
.mainContent{
    height: 100%;
}

.tablePage{
    height: 90%;
}

.mainTab{
    width: 100%;
    border: none;
    box-shadow: none;
}
.tableWrapper{
    height: 100%;
}

.el-aside {
    /* text-align: center; */
    border-right: 1px solid #efefef;
}

.el-main {
    padding-top: 0;
}

.el-footer {
    border-top: 1px solid #efefef;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 35px !important;
}

.linkformstyle{
    margin: 0 10px;
}

.icon{
    height: 12px;
    width: 12px;
    position: relative;
    top: 1px;
}

.icon1{
    height: 16px;
    width: 16px;
    position: relative;
    top: 2px;
    cursor: pointer;
    z-index: 111;
}

.icon11{
    height: 16px;
    width: 16px;
    position: relative;
    bottom: 1px;
    right: 8px;
}
.icon111{
    height: 16px;
    width: 16px;
    position: absolute;
    top: 19px;
    right: 8px;
}

.switchBtn{
    position: relative;
    bottom: 1px;
}

.footTextWrapper{
    margin-left: 10px;
    
}

.footText{
    margin-left: 10px;
    font-size: 13px;
    color: #444;
}

.iconWrapper{
    display: inline;
    margin-left: 50px;
}

.iconWrapper2{
    display: inline;
    position:absolute;
    right: 14px;
    height: 100%;
}
.iconWrapper3{
    display: inline;
    position:absolute;
    right: 54px;
}

.surperTables{
    margin-left: 10px;
    cursor: pointer;
}

.paginationWrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.menu{
    overflow-y: auto;
    height: 650px;
}

.greyText{
    color: #606266;
}

.checkboxGroup{
    margin: 10px 0 0 10px;
}

.checkboxGroup2{
    margin: 12px 0 0 10px;
}

.surperTSearchRow{
    margin: 20px 0 20px 0;
}

.el-select {
    width: 130px;
}

.input-with-select .el-input-group__prepend {
    background-color: #fff;
}

.freshDataBtn{
    padding-left: 20px;
}

.dataPackerLabel{
    line-height: 34px;
    font-size: 14px;
    color: #606266;
}

.consoleWrapper{
    height: 90%;
    width:100%;
}

.resultPlace{
    height: 92%;
    width: 100%;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    margin-top: 15px;
}

.resultPlaceTitle{
    color: #DCDFE6;
    margin-top: 7px;
    margin-left: 10px;
}

.iconWrapper_{
    display: inline;
}

.switchStyle{
    margin-left: 12px;
    position: relative;
    bottom: 3px;
}

.el-switch__label{
    height: auto !important;
}

.addDBswitchStyle{
    position: relative;
    top: 6px;
}


