<html>
  <head>
    <meta charset="UTF-8">
    <title>TDengine</title>
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <div id="app">

     
      <!-- 选择数据库 -->
      </el-button>
      <el-drawer
        title="数据库"
        :visible.sync="drawer"
        direction="ltr">
        <el-row>
          <el-button class="linkBtn" @click="dialogVisible = true" size="small" type="primary" plain>新建连接</el-button>
        </el-row>   
        <el-menu
        default-active="1"
        class="el-menu-vertical-demo">
        <el-submenu index="1">
          <template slot="title">
            <span>连接1</span>
          </template>
          <el-menu-item index="1-1">数据库1</el-menu-item>
          <el-menu-item index="1-2">数据库2</el-menu-item>
          <el-menu-item index="1-3">数据库3</el-menu-item>
         </el-submenu>
        <el-menu-item index="2">
          <span slot="title">连接2</span>
        </el-menu-item>
        <el-menu-item index="3">
          <span slot="title">连接3</span>
        </el-menu-item>
        <el-menu-item index="4">
          <span slot="title">连接4</span>
        </el-menu-item>
        </el-menu>
      </el-drawer>
      <el-dialog :visible.sync="dialogVisible" title="新建连接">
        <el-form :model="linkForm" class="linkformstyle">
          <el-form-item label="名称" :label-width="formLabelWidth">
            <el-input v-model="linkForm.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="Host" :label-width="formLabelWidth">
            <el-input v-model="linkForm.host" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="Port" :label-width="formLabelWidth">
            <el-input v-model="linkForm.port" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="User" :label-width="formLabelWidth">
            <el-input v-model="linkForm.user" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="Password" :label-width="formLabelWidth">
            <el-input v-model="linkForm.password" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false" size="medium">取 消</el-button>
          <el-button type="primary" @click="postLinkForm" size="medium">确 定</el-button>
        </div>
      </el-dialog>
      <el-container class="main">
        <el-container class="mainContent">
          <el-tabs type="border-card" class="mainTab">
            <el-tab-pane label="超级表" class="tablePage">
              <el-container class="tableWrapper">
                <el-aside class="mainAside" width="200px">
                  <el-table
                  size="mini"
                  :data="tableData"
                  style="width: 100%">
                  <el-table-column
                    label="表名"
                    width="180">
                    <!-- <template slot="header" slot-scope="scope">
                      <el-input
                        v-model="search"
                        size="mini"
                        placeholder="表名"/>
                    </template> -->
                    <template slot="header" slot-scope="scope">   
                      <span>表名</span>
                      <div class="iconWrapper"> 
                        
                        <img class="icon1" v-if="searchIcon" @mouseenter="searchIcon = false" src="./search_.png">
                        <img class="icon1" v-else src="./search.png" @mouseleave="searchIcon = true">
                        <img class="icon1" v-if="freshIcon" @mouseenter="freshIcon = false" src="./fresh_.png">
                        <img class="icon1" v-else src="./fresh.png" @mouseleave="freshIcon = true">
                      </div>
                    </template>
                    <template slot-scope="scope">
                      <img class="icon1" src="./file.png">
                      <span style="margin-left: 10px">{{ scope.row.date }}</span>
                    </template>
                    
                  </el-table-column>
                  </el-table>
                </el-aside>
                <el-main>

                  <el-table
                    size="mini"
                    :data="tableData"
                    border
                    style="width: 100%">
                    <el-table-column
                      prop="date"
                      label="时间"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="name"
                      label="姓名"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="address"
                      label="地址">
                    </el-table-column>
                  </el-table>
                </el-main>
              </el-container>
            </el-tab-pane>
            <el-tab-pane label="表" class="tablePage">
              <el-container class="tableWrapper">
                <el-aside class="mainAside" width="200px">
                  <el-table
                  size="mini"
                  :data="tableData"
                  style="width: 100%">
                  <el-table-column
                    label="表名"
                    width="180">
                    <template slot-scope="scope">
                      <img class="icon1" src="./file.png">
                      <span style="margin-left: 10px">{{ scope.row.date }}</span>
                    </template>
                  </el-table-column>
                  </el-table>
                </el-aside>
                <el-main>
                  <el-table
                    size="mini"
                    :data="tableData"
                    border
                    style="width: 100%">
                    <el-table-column
                      prop="date"
                      label="时间"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="name"
                      label="姓名"
                      width="180">
                    </el-table-column>
                    <el-table-column
                      prop="address"
                      label="地址">
                    </el-table-column>
                  </el-table>
                </el-main>
              </el-container>
            </el-tab-pane>
            <el-tab-pane label="控制台">控制台</el-tab-pane>
            <el-tab-pane label="数据库属性">数据库属性</el-tab-pane>
          </el-tabs>
          
        </el-container>
         <el-footer> 
          
           <el-button class="switchBtn" @click="drawer = true" type="text" size="small">
             <img class="icon" src="./switch.png" />
            切换</el-button>
            <div class="footTextWrapper">

            </div>
            <div class="footText">当前数据库:</div> 
            <div class="footText">121.36.56.117 </div> 
            <div class="footText">testdb</div> 
        </el-footer>
      </el-container>

    </div>
    <script>
        require('./index.js')
    </script>
  </body>
</html>
